In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import scipy.stats as stats

In [4]:
import math

In [5]:
np.random.seed(6)

In [6]:
school_ages=stats.poisson.rvs(loc=18,mu=35,size=1500)
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=60)

In [7]:
classA_ages.mean()

46.9

In [8]:
from scipy.stats import ttest_1samp

In [9]:
ttest,p_value=ttest_1samp(a=classA_ages,popmean=school_ages.mean())

In [10]:
school_ages.mean()

53.303333333333335

In [11]:
p_value

1.139027071016194e-13

In [12]:
# hence we are rejecting the null hypothesis

In [13]:
if p_value < 0.5: # alpha value is 0.05 or 5%
      print("we are rejecting null hypothesis")
else:
        print("we are accepting null hypothesis")

we are rejecting null hypothesis

In [14]:
np.random.seed(12)
classB_ages=stats.poisson.rvs(loc=18,mu=33,size=60)
classB_ages.mean()

50.63333333333333

In [15]:
ttest,p_value=stats.ttest_ind(a=classA_ages,b=classB_ages,equal_var=False)

In [16]:
p_value

0.00039942095100859375

In [17]:
if p_value < 0.05: # alpha value is 0.05 or 5%
      print("we are rejecting null hypothesis")
else:
        print("we are accepting null hypothesis")

we are rejecting null hypothesis

# paired t test with python

In [18]:
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]

In [19]:
weight2=weight1+stats.norm.rvs(scale=5,loc=1.25,size=15)

In [20]:
print(weight1)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]

In [21]:
print(weight2)

[33.07926457 37.41022437 31.50444617 33.04295091 22.36201983 40.07873174
 20.8299827  23.8771395  38.86420881 34.55941216 29.43827982 32.019014
 28.92851213 33.00667769 43.82984284]

In [22]:
weight_df=pd.DataFrame({"weight_10":np.array(weight1),"weight_20":np.array(weight2), "weight_change":np.array(weight2)-np.array(weight1)})

In [23]:
weight_df

    weight_10  weight_20  weight_change
0          25  33.079265       8.079265
1          30  37.410224       7.410224
2          28  31.504446       3.504446
3          35  33.042951      -1.957049
4          28  22.362020      -5.637980
5          34  40.078732       6.078732
6          26  20.829983      -5.170017
7          29  23.877139      -5.122861
8          30  38.864209       8.864209
9          26  34.559412       8.559412
10         28  29.438280       1.438280
11         32  32.019014       0.019014
12         31  28.928512      -2.071488
13         30  33.006678       3.006678
14         45  43.829843      -1.170157

In [24]:
ttest,p_value=stats.ttest_rel(a=weight1,b=weight2)

In [25]:
p_value

0.22252101288036757

In [26]:
if p_value < 0.05: # alpha value is 0.05 or 5%
      print("we are rejecting null hypothesis")
else:
        print("we are accepting null hypothesis")

we are accepting null hypothesis